<div class="content">
    <div class="signup">
        <h1>Signup for Web App</h1>


        <input type="text" name="name" value="" placeholder="Enter First Name" id="first">
        <input type="text" name="surname" value=""  placeholder="Enter Last Name" id="last">
        <input type="text" name="middle" value="" placeholder="Enter Middle Name (optional)" id="middle">
        <input type="email" name="email" value="" placeholder="Enter Email Address" id="email">
        <input type="number" name="number" value="" placeholder="Enter mobile" id="userName">

    </div>

</div>